/*  GRid */

.grid {
  display: grid;
}

.col-1 {
  grid-template-columns: 1;
}

.col-2 {
  grid-template-columns: repat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Flex */
.flex {
  display: flex;
}

.gap-1 {
  gap: 10px;
}

/* Sizing */

.mw-1320 {
  max-width: 1320px;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
}

/* Spacing */

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

/* Texte */
.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
